@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
:root {
    --dark: #333;
    --light: #f5f5f5;
    --yellow: #feefcc;
    --cream: #fcde99;
    --dark-yellow: #fed668;
    --gray: #696d72;
    --red: #e53f3f;
    --dark-red: #b91c1c;
}

/* base.html */
html {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--yellow);
    color: var(--dark);
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-content: center;
    background-color: var(--yellow);
    color: var(--dark);
    padding: 10px 10px 0 10px;
    width: auto;
}

h1 {
    font-size: 40px;
}

a.logo {
    padding: 0 !important;
}

a.logo:hover {
    background-color: transparent !important;
}

.logo {
    margin: 0 15px;
    width: 50px;
    height: auto;
}

.login-logo {
    margin-left: 15px;
    width: 20px;
    height: auto;
}

.topnav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: var(--dark);
    border: var(--dark) solid 1px;
    border-radius: 5px;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.topnav li {
    margin: 0 5px;
}   

.topnav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
}

.topnav a:hover {
    color: var(--cream);
    background-color: var(--gray);
}

button, .button {
    display: inline-flex;
    padding: 0;
    background-color: var(--cream);
    color: var(--dark);
    border: var(--dark) solid 1px;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 10px;
}

button:hover, .button:hover {
    background-color: var(--dark-yellow);
    color: var(--dark);
    cursor: pointer;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--yellow);
    margin-top: 10px;
    padding: 10px;
    width: 100vw;
}

footer p {
    color: var(--yellow);
    margin: 5px;
}

footer a {
    color: var(--yellow);
    text-decoration: none;
}

.topnav .hamburger {
    display: none;
}

.topnav .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--cream);
}

/* todo.html */
.title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: transparent;
    margin: 10px 25vw;
    padding: 10px;
    border: none;
    border-bottom: solid 3px var(--dark);
    border-radius: 0;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 25vw;
    background-color: var(--cream);
    border: var(--dark) solid 2px;
    border-radius: 5px;
    transition: 0.5s;
    overflow: auto;
}

.todo-container:hover {
    cursor: pointer;
    background-color: var(--dark-yellow);
    margin: 10px 23vw;
}

.todo p {
    display: flex;
    margin: 4px;
    transition: 0.5s;
    overflow: auto;
    word-wrap: break-word;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 7;
    transition: 0.5s;
    padding: 10px;
}

.todo:hover {
    cursor: pointer;
    flex: 9;
}

.todo-container-separator {
    width: 3px;
    height: 80%;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 99px;
}

.todo-check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    flex: 2;
    padding: 10px;
    transition: 0.5s;
}

.todo-check:hover {
    cursor: pointer;
    flex: 3;
}

/* add_todo.html */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    width: 40vw;
}

label {
    font-weight: bold;
    
}

.form-input, .form-textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    padding: 10px;
    border: solid 1px var(--dark);
    border-radius: 5px;
    width: 100%;
}

/* update_todo.html */
.button.warning {
    background-color: var(--red);
    color: var(--dark);
    text-decoration: none;
    width: 100%; 
    margin-top: 10px; 
    justify-content: center;
}

.button.warning:hover {
    background-color: var(--dark-red);
    color: var(--dark);
}

@media screen and (max-width: 1200px) {
    form {
        width: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .todo-container {
        margin: 10px 20vw;
    }
    .todo-container:hover {
        margin: 10px 15vw;
    }

    .title {
        margin: 10px 20vw;
    }

    form {
        width: 60vw;
    }
}

@media screen and (max-width: 750px) {
    .todo-container {
        margin: 10px 10vw;
    }
    .todo-container:hover {
        margin: 10px 5vw;
    }

    .title {
        margin: 10px 10vw;
    }

    form {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    .todo-container {
        margin: 10px 5vw;
    }

    .todo-container:hover {
        margin: 10px 2vw;
    }

    .topnav ul {
        position: fixed;
        left: 100%;
        top: 78px;
        flex-direction: column;
        background-color: var(--dark);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .topnav ul.active {
        left: 0;
    }

    .topnav ul li {
        margin: 18px 0;
    }

    .topnav .hamburger {
        display: block;
        cursor: pointer;
        margin: 0 15px;
    }

    .topnav .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .topnav .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .topnav .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    header {
        padding: 10px;
        background-color: var(--dark);
    }

    .title {
        margin: 10px 5vw;
    }

    form {
        width: 90vw;
    }
}