{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <script type="text/javascript" src="{% static 'base.js' %}"></script>
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="page-container">
    <header>
      <nav class="topnav">
        <a class="logo" href="{% url 'todo' %}">
          <img class="logo" src="{% static 'logo.png' %}" alt="logo" />
        </a>
        <ul>
          <li><a href="{% url 'todo' %}">Home</a></li>
          <li><a href="{% url 'add_todo' %}">Add Todo</a></li>
          <li><a href="#">About</a></li>
          <li style="color: var(--cream)">{{ request.user }}</li>
          <li><button onclick="window.location.href = 
              {% if request.user.is_authenticated %} 
                '{% url 'logout' %}'
              {% else %} 
                '{% url 'login' %}'
              {% endif %};">
            {% if request.user.is_authenticated %}
              Logout
            {% else %}
              Login 
            {% endif %}
          <img class="login-logo" src="{% static 'login.png' %}" /></button></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>

    <div style="flex: 1">
    {% block content %}
    <div>
      {% for todo in todoList %}
      <p>{{ todo.details }}</p>
      {% endfor %}
      <form action="" method="post"></form>
    </div>
    {% endblock %}
    </div>
    <footer>
      <p>
        Todo List - Copyright &copy; 2024
      </p>
      <p>
        <a href="https://github.com/HeyImDKP/todo-app-in-django"><u>Github</u></a>
      </p>
    </footer>
    </div>
    <script type="text/javascript">
      const hambugerMenu = new Hamburger(".topnav .hamburger", ".topnav ul", "header");
    </script>
  </body>
</html>
